@tailwind base;
@tailwind components;
@tailwind utilities;

.test{
    position: relative;
    transition: 1s;
    z-index: 0;
}

.test::before{
    content: '';
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    position: absolute;
    background: url("/Asset5.png") 0 0 / cover no-repeat;
    background-size: 100%;
    background-position: center;
    transform: translate(-100%);
    transition: .5s;
    transition-timing-function: ease-in-out;
    z-index: -1;
}
.test:hover:before{
    transform: translate(3%);
}

.test:hover
{
    color: #FDD67B;
    /* -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black; */
}

.ellipse
{
    clip-path: ellipse(55% 100% at top center);
}
.ellipse2
{
    clip-path: ellipse(75% 100% at top center);
    backdrop-filter: blur(10px);
    background-color: #fdd67bc0;
}